.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0 !important;
  bottom: 0 !important;
  top: -webkit-fill-available;
  margin: auto;
  height: fit-content;
  transition: 0.2s;
}

.mini {
  top: auto !important;
  bottom: max(8px, env(safe-area-inset-bottom)) !important;
  margin-bottom: 0;
  transform: none;
  :global(.ant-modal-body),
  :global(.ant-modal-footer) {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}

.wrap {
  pointer-events: none;
}
